.container{
    width: 800px;
    height: 500px;
    margin: 0 auto;
    background: #ddd;
}

.box-1{
    width: 200px;
    height: 80px;
    background: #aaa;
    padding: 10px 20px;
    border-bottom: 10px solid #000;
         
}

.box-2{
    width: 200px;
    height: 80px;
    background: #aaa;
    padding: 10px 20px;
    border-bottom: 10px solid #000;
    margin: 40px 20px;
    
}