header {
    width: 800px;
    height: 60px;
    background: #6b35b3;
    padding: 20px 0;
    margin-bottom: 20px;
}

h1,p {
    text-align: center;
    color: #fff;
    font-size: 24px;
    font-family: Arial;
    text-transform: uppercase;
    font-weight: normal;
}

footer {
    width: 800px;
    height: 60px;
    background: #ff3333;
    padding: 20px 0;
    clear: both;
}

article {
    width: 580px;
    height: 300px;
    background: #222;
    float: left;
}

aside {
    width: 200px;
    height: 300px;
    background: #ccc;
    float: left;
    margin-left: 20px;
}

.container{
    width: 800px;
    margin: 0 auto;
}

.conteudo {
    width: 800px;
    overflow: auto;
    margin-bottom: 20px;
}
